@model QueryTree.Models.Query

@{
    ViewBag.Title = Model.DatabaseConnection.Name + " - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/css/aqb.css">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6"> <h2>Edit Report</h2></div>
        <div class="col-md-6" style="text-align:right; margin-top:21px">
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Details", "Home", new { id = Model.DatabaseConnectionID }, new { @class = "btn btn-default" })
        </div>
    </div>
    
    <div class="row">
        <div class="form-horizontal col-md-12">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.QueryID)
            @Html.HiddenFor(model => model.QueryDefinition)
            @Html.HiddenFor(model => model.DatabaseConnectionID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "text-align: left;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", style = "text-align: left;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_Qt_Advanced")
        </div>   
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="small">Created by <a href="email:@(Model.CreatedBy.UserName)">@(Model.CreatedBy.UserName)</a> at @(Model.CreatedOn)</p>
            <p class="small">Last updated by <a href="email:@(Model.LastEditedBy.UserName)">@(Model.LastEditedBy.UserName)</a> at @(Model.LastEditedOn)</p>
        </div>

        <div class="col-md-6 text-right">
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Details", "Home", new { id = Model.DatabaseConnectionID }, new { @class = "btn btn-default" })
        </div>
    </div>
}
<div>    
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/g/jquery.ui@1.9.2,knockout@3.4.0,d3js@3.5.17,momentjs@2.13.0"></script>
    <script src="~/js/fabric.js"></script>
    <script src="~/js/aqb.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#node_options_container").empty();
            $("#nonTabularResultsContainer").empty();
            var query = $("input#QueryDefinition").val();

	        loadQuery(events, models, query);

	        // Update scrollbars if required
	        events.OnWindowResize();
        })

        $("input[type='submit']").click(function () {
            var query = getQuery();
            $("input#QueryDefinition").val(query);
        });
    </script>
}
