@model IEnumerable<QueryTree.ViewModels.DatabaseConnectionIndexViewModel>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any() == false)
{
    <div class="container text-center">
        <h2 id="onboard-header">Let&rsquo;s get connected to your database...</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="well onboard-option-cell">
                    <h3>Set Up the Connection Myself</h3>
                    <p><img src="~/images/onboard-db.png" width="128" height="128" /></p>
                    <h4>You'll need to know your database connection details</h4>
			        <a href="@Url.Action("Create")" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Connect Database</a>
				</div>
            </div>

            <div class="col-lg-6">
                <div class="well onboard-option-cell">
                    <h3>Get Someone Else to Do It</h3>
                    <p><img src="~/images/onboard-invite.png" width="128" height="128" /></p>
                    <h4>Invite a technical colleague who can set up a connection</h4>
			        <a href="@Url.Action("Invite", "Team")" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-user"></span>&nbsp;Invite User</a>
				</div>
            </div>
        </div>
    </div>
}
else
{

    <div class="row">
		<div class="col-md-12">
			<h2>My Databases</h2>
			<p>
                <a href="@Url.Action("Create")" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Connect New</a>
			</p>
		</div>
	</div>


    foreach (var item in Model)
        {

        <div class="row">
			<div class="col-md-12">
				<div class="well">
					<h4>
						@Html.DisplayFor(modelItem => item.myConnection.Name)
					</h4>
                    @if (String.IsNullOrWhiteSpace(item.DbOwner) == false)
                    {
                        <span class="db-owner-label">Adminstered By @item.DbOwner</span>
                    }
                    <p>@Html.DisplayFor(modelItem => item.myConnection.Description)</p>
                    <p class="small">Reports: @item.ReportsCount</p>
                    <p class="small">Scheduled Reports: @item.ScheduledReportsCount</p>

					<div class="row">
                        <div class="col-xs-12">
                            @Html.ActionLink("Open", "Details", new { id = item.myConnection.DatabaseConnectionID }, new { @class = "btn btn-lg btn-primary" })

                            @if (item.type == QueryTree.Models.UserDatabaseTypes.Admin)
{
    @Html.ActionLink("Connection Settings", "Edit", new { id = item.myConnection.DatabaseConnectionID }, new { @class = "btn btn-lg btn-primary" })
                            }

                            @if (item.type == QueryTree.Models.UserDatabaseTypes.Admin)
{
    @Html.ActionLink("Delete", "Delete", new { id = item.myConnection.DatabaseConnectionID }, new { @class = "btn btn-lg btn-warning rhs-delete" })
                            }
                        </div>

					</div>
				</div>
			</div>
		</div>
	}
}